venv
backend/api/__pycache__
backend/api/migrations
backend/api/beamAppOpensees.py
backend/api/test.py
backend/api/beamApp.py
backend/beam/__pycache__
backend/.vscode
backend/api/views.py
backend/api/views.py
backend - Copy
test