.drop-enter {
    background-color: rgba(255, 99, 71, 0.3);
}

.drop-no-enter {
    background-color: rgba(255, 99, 71, 0.5);
}

.dl-colour {
    background-color: rgba(242, 135, 42, 0.405);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/* Styles for screens smaller than 800px */
@media screen and (max-width: 801px) {
    a,input[type=number] {
        font-size: 13px !important;
        margin: 0px !important;
    }
}

html {
    user-select: none;
    /* margin: 2px; */
}

/* Optionally, you can style the input as you wish */
input[type=number] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

